<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<div class="home">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-auto">
            <img src="/assets/images/about/index.jpg" alt="Christian Robles" width="150"/>
          </div>
          <div class="col-md">
            <div class="p-3">
              {{ content }}
            </div>
          </div>
        </div>

        {%- include footer.html -%}

        <div class="gallery-grid">
          <div class="gallery-item gallery-item-lg">
            <a href="/blog/2023/07/17/palace-1.html">
              <img src="/assets/images/palace/preview.jpg" />
            </a>
            <a href="/blog/2023/07/17/palace-1.html"><h6>Palace: A Vulkan Renderer</h6></a>
          </div>
          <div class="gallery-item gallery-item-sm">
            <a href="/blog/2023/04/07/spooky-godot.html">
              <video autoplay muted loop playsinline>
                <source src="/assets/images/walking-sim/skull-bob.mp4" />
                Your browser does not support the video tag.
              </video>
            </a>
            <a href="/blog/2023/04/07/spooky-godot.html"><h6>Godot Dungeon</h6></a>
          </div>
          <div class="gallery-item gallery-item-md">
            <a href="/blog/2023/05/11/grandmagreen.html">
              <img src="/assets/images/grandmagreen/garden-night.jpg" />
            </a>
            <a href="/blog/2023/05/10/grandmagreen.html"><h6>Grandma Green</h6></a>
          </div>
          <div class="gallery-item gallery-item-md">
            <a href="/blog/2022/11/17/directed-research.html">
              <img src="/assets/images/ears/ears-preview.jpg" />
            </a>
            <a href="/blog/2022/11/17/directed-research.html"><h6>Directed Research</h6></a>
          </div>
          <div class="gallery-item gallery-item-sm">
            <a href="/blog/2022/09/02/summer-standards.html">
              <img src="/assets/images/summer22/standard_surface_glass_tinted_look_home.png" />
            </a>
            <a href="/blog/2022/09/02/summer-standards.html"><h6>Autodesk Internship</h6></a>
          </div>
          <div class="gallery-item gallery-item-xl">
            <a href="/blog/2022/04/30/ray-marching.html">
              <img src="/assets/images/ray-marching/teaser.jpg" />
            </a>
            <a href="/blog/2022/04/30/ray-marching.html"><h6>Ray Marching Final Project</h6></a>
          </div>
          <div class="gallery-item gallery-item-lg">
            <a href="/blog/2022/02/08/multiple-importance.html">
              <img src="/assets/images/mis/mis-preview.jpg" />
            </a>
            <a href="/blog/2022/02/08/multiple-importance.html"><h6>MIS: Reviewing Veach's Thesis</h6></a>
          </div>
          <div class="gallery-item gallery-item-md2">
            <a href="/blog/2020/05/17/style-transfer.html">
              <video autoplay muted loop playsinline>
                <source src="/assets/images/style-transfer/faces-rotate.mp4">
                Your browser does not support the video tag.
              </video>
            </a>
            <a href="/blog/2020/05/17/style-transfer.html"><h6>Blender Style Transfer</h6></a>
          </div>

        </div>
      </div>
    </main>
  </body>
</div>

</html>
