<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<div class="home">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-auto">
            <img src="/assets/images/about/index.jpg" alt="Christian Robles" width="150"/>
          </div>
          <div class="col-md">
            <div class="p-3">
              {{ content }}
            </div>
          </div>
        </div>

        {%- include footer.html -%}

        <hr>

        <h2 align="center">Selected Projects</h2>

        <h4 align="center">Offline & Real-time Rendering</h4>

        <div class="gallery-grid">
          <div class="gallery-item gallery-item-md">
            <a href="/blog/2024/05/20/recent-advancements.html">
              <img src="/assets/images/ears/ears-preview.jpg" />
            </a>
            <a href="/blog/2024/05/20/recent-advancements.html"><h6>Directed Research - Recent Advancements in Russian Roulette and Splitting</h6></a>
          </div>
          <div class="gallery-item gallery-item-sm">
            <a href="/blog/2022/09/02/summer-standards.html">
              <img src="/assets/images/summer22/standard_surface_glass_tinted_look_home.png" />
            </a>
            <a href="/blog/2022/09/02/summer-standards.html"><h6>Autodesk - Open Standards Extensions</h6></a>
          </div>
          <div class="gallery-item gallery-item-xl">
            <a href="/blog/2022/04/30/ray-marching.html">
              <img src="/assets/images/ray-marching/teaser.jpg" />
            </a>
            <a href="/blog/2022/04/30/ray-marching.html"><h6>3D Graphics & Rendering Final Project - Procedural Rendering With Ray Marching</h6></a>
          </div>
          <div class="gallery-item gallery-item-lg">
            <a href="/blog/2023/08/05/palace-1.html">
              <img src="/assets/images/palace/preview.jpg" />
            </a>
            <a href="/blog/2023/08/05/palace-1.html"><h6>C++20 Vulkan glTF Renderer</h6></a>
          </div>
          <div class="gallery-item gallery-item-lg">
            <a href="/blog/2022/02/08/multiple-importance.html">
              <img src="/assets/images/mis/mis-preview.jpg" />
            </a>
            <a href="/blog/2022/02/08/multiple-importance.html"><h6>Literature Review - Multiple Importance Sampling for Ray Tracing</h6></a>
          </div>
        </div>

        <br>
        <br>

        <h4 align="center">Game Engines & Multimedia</h4>
        
        <div class="gallery-grid">
          <div class="gallery-item gallery-item-lg">
            <a href="/blog/2024/04/29/bevy-boids.html">
              <img src="/assets/images/boids/boids-preview-wide.jpg" />
            </a>
            <a href="/blog/2024/04/29/bevy-boids.html"><h6>Rust K-D Tree Boids on Bevy ECS</h6></a>
          </div>
          <div class="gallery-item gallery-item-sm">
            <a href="/blog/2023/04/07/spooky-godot.html">
              <video autoplay muted loop playsinline>
                <source src="/assets/images/walking-sim/skull-bob.mp4" />
                Your browser does not support the video tag.
              </video>
            </a>
            <a href="/blog/2023/04/07/spooky-godot.html"><h6>Godot Dungeon Crawler</h6></a>
          </div>
          <div class="gallery-item gallery-item-md">
            <a href="/blog/2023/05/11/grandmagreen.html">
              <img src="/assets/images/grandmagreen/garden-night.jpg" />
            </a>
            <a href="/blog/2023/05/11/grandmagreen.html"><h6>Indie Unity Farming Sim - Grandma Green</h6></a>
          </div>
          <div class="gallery-item gallery-item-md2">
            <a href="/blog/2020/05/17/style-transfer.html">
              <video autoplay muted loop playsinline>
                <source src="/assets/images/style-transfer/faces-rotate.mp4">
                Your browser does not support the video tag.
              </video>
            </a>
            <a href="/blog/2020/05/17/style-transfer.html"><h6>3D Style Transfer</h6></a>
          </div>
        </div>


      </div>
    </main>
  </body>
</div>

</html>
