---
layout: default
---

<div class="container text-center">
  <div class="row">
    <h2>Directed Research</h2>
    <div class="col-md-auto">
      <img src="/assets/images/ears/ears-64spp.png" height="250"/>
    </div>
    <div class="col-md">
        <a href="/blog/2022/11/17/directed-research.html">Russian Roulette: Albedo to EARS,</a> Spring 2023. A review and implementation
        of selected techniques in Russian Roulette & Splitting. Beginning with Arvo & Kirk's albedo-based RRS, leading to Vorba and Křivánek's
        Adjoint-Driven RRS and culminating in Rath et. al.'s Efficiency-Aware Russian Roulette & Splitting. Advised by Professor Ulrich Neumann,
        with updates shared on this blog bi-weekly.
    </div>
  </div>
  <br>
  <h2>Autodesk</h2>
  <div class="row">
    <div class="col-md-auto">
      <img src="/assets/images/summer22/standard_surface_glass_tinted_look.png" height="250"/>
    </div>
    <div class="col-md">
        <a href="/blog/2022/09/02/summer-standards.html">MaterialX glTF Export Workflow,</a> Summer 2022. MaterialX is a widely adopted
        look-development authoring and transport format backed by the Academy Software Foundation. This project edtended MaterialX with
        export to the Khronos Group's glTF and verifies translation on the AMD GPU Open MaterialX sample set via Arnold and Dassault
        Systèmes' dspbr-ptr, and was contributed back to MaterialX as open source.
    </div>
  </div>
  <br>
  <h2>Coursework & Personal Projects</h2>
  <div class="row">
    <div class="col-md-auto">
        <img src="/assets/images/about/gradnmagreen.png" height="250">
    </div>
    <div class="col-md">
        Grandma Green, 2022. Developing a virtual pet and farming simulation game in Unity through USC's Advanced Game Projects program.
        I'm responsible for the design and development of the performant data structures and routines for plant growth cycles, genotype expression,
        sprite management and garden serialization.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-auto">
        <img src="/assets/images/about/smoothing.png" height="250">
    </div>
    <div class="col-md">
        <a href="/blog/2022/04/30/ray-marching.html">Procedural Materials and Constructive Geometry,</a> Spring 2022. Fully ray-marched renderer
        demonstrating the capabilities of implicit intersection tests with constructive geometry, procedural depth-marched materials, fractals,
        and GPU Accelerated rendering with CUDA.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-auto">
      <img src="https://www.pbr-book.org/3ed-2018/Light_Transport_I_Surface_Reflection/path-annotated-1.svg" alt="pbrt" width="250"/>
    </div>
    <div class="col-md">
      <a href="/blog/2022/02/08/multiple-importance.html">Multiple Importance Sampling,</a> Winter 2022. A review of Veach’s thesis
      and exploration of fundamental techniques in Monte Carlo Integration and Multiple Importance Sampling.
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-auto">
      <img src="/assets/images/style-transfer/face-raw.png" height="250">
    </div>
    <div class="col-md">
      <a href="/blog/2020/05/17/style-transfer.html">3D Style Transfer,</a> June 2021. Exploration of visual effects from
      Aphex Twin's "T69 Collapse" with re-texturing of a scanned 3d mesh in Blender. Extended with exploration of feasibility of
      <a href="/blog/2020/06/16/touch-designer.html">real-time style transfer plugin in TouchDesigner.</a>
    </div>
  </div>
  <br>
</div>