---
layout: default
---

<div class="container text-center">
  <div class="row">
    <h2>Directed Research</h2>
    <div class="col-auto">
        <img src="/assets/images/ears/high-fid.png" height="150" width="150"/>
    </div>
    <div class="col">
        asdf asdf asdf asdf
    </div>
  </div>
  <h2>Autodesk</h2>
  <div class="row">
    <div class="col-auto">
        <img src="/assets/images/summer22/standard_surface_glass_tinted_look.png" height="150" width="150"/>
    </div>
    <div class="col">
        asdfasdfa
    </div>
  </div>
  <h2>Coursework</h2>
  <div class="row">
    <div class="col-auto">
        <img src="/assets/images/ray-marching/sample.png" height="150" width="150">
    </div>
    <div class="col">
        ray marching
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
        Placeholder
    </div>
    <div class="col">
        ray marching
    </div>
  </div>
</div>